body{
    background-image: url(images/bodybg.jpeg);
    background-size: cover;
}

#index-title{
    color: white;
}

#each-ranger{
    color: white;
    font-size: 16px;
    border: 2px solid white;
    margin: 6px;
    padding: 6px;
}

form{
    color: white;
}